<!DOCTYPE html>
<html lang="en">
    <head>
        <title>May's Shop</title>
        <style>
            body {
                font-family: 'Your_Custom_Font', sans-serif;
                background-color: #000000;
                color: #c81999;
                margin: 20px;
            }

            h1 {
                color: #ff0022;
            }

            img {
                max-width: 100%;
                height: auto;
                display: block;
                margin: 20px auto;  /* Center the image */
            }
        </style>
    </head>
    <body>
        <h1>Welcome to May's Shop</h1>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI demo</title>

    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>

    <div class="mx-4">

        <p class="text-2xl font-bold mb-4">clothes List</p>
        
            <table class="min-w-[50%] mb-4">
                <thead class="border-b text-lg">
                    <tr>
                      <th class="border">type name</th>
                      <th class="border">clothe size</th>
                    </tr>
                  </thead>
                  <tbody class="text-center text-sm">
                    {% for type in clothes %}
                        <tr>
                        <td class="border">{{type.name}}</td>
                        <td class="border">{{type.size}}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
            </table>
     
    </div>

</body>
</html>